<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark"/>
<link rel='stylesheet' type='text/css' href='style.css'>
<link rel="icon" type="image/png" href="/favicon.png">
</head>
<title>My Website</title>
<body>
    <h1>My Website</h1>
    <p>
    You can put anything you want in the header and footer templates.
    This website will look good on screens large or small, with light or dark theme preferences.
    </p>
    <p>
    What follows is a reverse-oredered list of posts. If you don't want it to be reversed, edit `build.py` and remove the line with `reverse()` in it.
    </p>
    <p>
    <ul>

